<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL SHORTENER</h1>

    <% if (locals.id) { %>
        <p>URL Generated: <a href="http://localhost:8001/url/<%= id %>">http://localhost:8001/url/<%= id %></a></p>
    <% } %>

    <form action="/url" method="POST">
        <label>Enter Your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com">
        <button type="submit">Generate</button>
    </form>

    <div>
        <% if (locals.urls && urls.length > 0) { %>
            <table border="1" cellpadding="8">
                <thead>
                    <tr>
                        <th>S. No</th>
                        <th>Short ID</th>
                        <th>Redirect URL</th>
                        <th>Total Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><a href="<%= url.redirectURL %>" target="_blank"><%= url.redirectURL %></a></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

        <% } %>
    </div>
</body>
</html>
